# Runtime data
pids
*.pid
*.seed

# node-waf configuration
.lock-wscript

# Dependency directory
# https://www.npmjs.org/doc/misc/npm-faq.html#should-i-check-my-node_modules-folder-into-git
node_modules

.DS_Store
coverage
lib
.swo
.swp
.*.swp
*.log

# Generated icon library file
/src/media/iconLibrary.story.jsx

github_deploy_key
