$C_accent: $C_blue;

$C_buttonBGNeutral: $C_coolGrayLightTransp;
$C_buttonBGNeutral--disabled: transparentize($C_coolGrayLightTransp, 0.04);

$C_buttonBGNeutralInverted: $C_borderInverted;
$C_buttonBGNeutralInverted--disabled: transparentize($C_borderInverted, 0.17);

$C_svgIcon: rgba(46, 62, 72, 0.75);
$C_svgIconInverted: rgba(255, 255, 255, 0.7);
