@import "~swarm-constants/dist/scss/rawColors";

$C_accent: $C_blue;

$C_buttonBGNeutral: $C_coolGrayLightTransp;
$C_buttonBGNeutral--disabled: transparentize($RAW_coolGrayLightTransp, .04);

$C_buttonBGNeutralInverted: $C_borderInverted;
$C_buttonBGNeutralInverted--disabled: transparentize($RAW_borderInverted, 0.17);
