.overlayShim{
	position: fixed;
}
@include atMediaUp(large) {
	.media-content {
		min-height: calc(100vh - #{$view-head-height}); // prevent photo modal from scrolling
	}
}
@include atMediaUpFixed(medium) {
	.view--modalSnap .bounds{
		padding-left: map-get($breakpointBaseMap, 'medium')*$spaceMultipleBig;
		padding-right: map-get($breakpointBaseMap, 'medium')*$spaceMultipleBig;
	}
}
@include atMediaUpFixed(large) {
	.view--modalSnap .bounds{
		padding-left: map-get($breakpointBaseMap, 'large')*$spaceMultipleBig;
		padding-right: map-get($breakpointBaseMap, 'large')*$spaceMultipleBig;
	}
}

.modal-close {
	box-sizing: border-box;
	height: $view-head-height;
}