//
// Animation values taken from https://github.com/google/material-design-lite/blob/mdl-1.x/src/_variables.scss
// Maybe we can bring this into `swarm-constants` or `swarm-animation`?
//

.accordion--hideFocus .accordionPanel-label:focus {
	outline: 0;
}

.accordionPanel-animator {
	overflow: hidden;
	transition: min-height $duration--medium $easing--standard;
	will-change: height, min-height;
}

.accordionPanel-animator--collapse {
	height: 0;
	padding-bottom: 0 !important;
	visibility: hidden;
}

.accordionPanel-label {
	@extend %buttonPersonality;
	background: inherit;
	border: inherit;
	text-align: inherit;
	padding: 0;
}

.accordionPanel-icon {
	@extend %buttonPersonality;

	.svg--chevron-down .svg-icon {
		-webkit-transform: rotate(0deg);
		transform: rotate(0deg);
		transition: transform $duration--short $easing--standard;

		.accordionPanel--active & {
			-webkit-transform: rotate(180deg);
			transform: rotate(180deg);
		}
	}
}
