//
// Animation values taken from https://github.com/google/material-design-lite/blob/mdl-1.x/src/_variables.scss
// Maybe we can bring this into `swarm-constants` or `swarm-animation`?
//
.accordionPanel-animator {
	overflow: hidden;
	transition: height $duration--medium $easing--standard;
	will-change: height;
}

.accordionPanel-animator--collapse {
	padding-bottom: 0 !important;
	visibility: hidden;
}

.accordionPanel-label {
	@extend %buttonPersonality;
	background: inherit;
	border: inherit;
	padding: 0;
	text-align: inherit;
}

.accordionPanel:focus {
	outline: 0;
}

.accordionPanel-label:focus {
	outline: 0;

	.accordionPanel {
		@include color-svg($C_black);
		font-weight: $W_bold;
		position: relative;

		&::after {
			background-color: $C_selection;
			bottom: -2px;
			content: "";
			left: -#{$space-half};
			position: absolute;
			right: -#{$space-half};
			top: -1px;
		}
	}
}

.accordionPanel-icon {
	@extend %buttonPersonality;
}

.indicator {
	transform: rotate(0deg);
	transition: transform $duration--short $easing--standard;
}

.indicator--animateActive {
	transform: rotate(180deg);
}

.accordionPanel-locked {
	margin-right: auto;
}

@include atMediaUp(medium) {
	.accordionPanel-locked {
		align-items: center;
		flex-direction: row;
		flex-wrap: nowrap;
	}
}
