$avatarBg: $C_coolGrayLight;
$avatarSizeProps: (height, width);

@mixin avatarIconBadge($color) {
	position: relative;
	text-indent: 0;

	.svg--avatarBadge {
		position: absolute;
		bottom: -6%;
		right: -6%;
		width: 44%;
		height: 44%;

		// circle behind the icon
		&::before {
			position: absolute;
			top: 0;
			right: 0;
			bottom: 0;
			left: 0;
			content: "";
			background-color: $color;
			border-radius: 100%;
		}

		// the icon itself
		svg {
			@include color-svg(getPrimaryTextColor($color));
			width: 80%;
			height: 80%;
			transform: translate(12%, 12%);
		}
	}

	// Use proportionally smaller badge for larger avatars
	&.avatar--large .svg--avatarBadge,
	&.avatar--xxlarge .svg--avatarBadge {
		width: 30%;
		height: 30%;
		bottom: 0;
		right: 0;
	}
}

%avatar,
.avatar {
	@extend %imgFill;

	@include customPropertyValue($avatarSizeProps, var(--responsiveMedia-m), $media-m);
	position: relative;
	background-color: $avatarBg;
	background-position: center 42%;
	color: transparent;
	display: inline-block;
	font-size: 0;
	text-indent: 100%;
	white-space: nowrap;
	vertical-align: top;

	.inverted & {
		background: $C_textHintInverted;
	}
}

//
// Printable avatar image tag
// (hidden by default)
//
.avatar-print {
	speak: none;
	display: none;
}

@media print {
	.avatar-print {
		width: 100%;
		display: block;
	}
}

//
// Size variants
//
.avatar--small {
	@include customPropertyValue($avatarSizeProps, var(--responsiveMedia-s), $media-s);
}

.avatar--large {
	height: $space-4;
	width: $space-4;

	@include atMediaUp(medium) {
		height: $block-2;
		width: $block-2;
	}
}

.avatar--xxlarge {
	@include customPropertyValue($avatarSizeProps, var(--responsiveMedia-xxl), $media-xxl);
}

//
// Type variants
//
.avatar--person {
	@extend %avatar;
	vertical-align: middle;
	border-radius: 999px;
	box-sizing: border-box;
}

.avatar--noPhoto {
	@include display(inline-flex);
	@include align-items(center);
	@include justify-content(center);
	position: relative;
	text-indent: 0;
	background-color: darken($avatarBg, 6%);
}

.avatarIcon--noPhoto {
	// matches size of icon wrapper div
	// to the size of the avatar
	width: 100%;
	height: 100%;

	// center the SVG element within the wrapper
	@include align-items(center);
	@include justify-content(center);

	// must be scoped to `avatarIcon--noPhoto`,
	// as it's possible to have additional `Icon`
	// children in `Avatar`
	svg {
		// sets SVG size relative to wrapper
		width: 40%;
		height: 40%;
		opacity: alpha($C_textSecondary);
	}
}

.avatar--fbFriend {
	@include avatarIconBadge($C_facebook);
}

.avatar--org {
	@include avatarIconBadge($C_red);
}
