@import "~flatpickr/dist/flatpickr";

/* meetup overrides */

.flatpickr-calendar {
	padding: $space-half;
	width: auto;

	.svg--chevron-right svg {
		fill: $C_textPrimary;
	}

	.svg--chevron-left svg {
		fill: $C_separator;
	}
}

span.flatpickr-weekday {
	color: inherit;
	font-weight: $W_bold;
  }

.flatpickr-current-month {
	width:80%;
	& span.cur-month {
		font-weight: $W_normal;
	}
}

.flatpickr-day.selected,
.flatpickr-day.startRange,
.flatpickr-day.endRange,
.flatpickr-day.selected.inRange,
.flatpickr-day.startRange.inRange,
.flatpickr-day.endRange.inRange,
.flatpickr-day.selected:focus,
.flatpickr-day.startRange:focus,
.flatpickr-day.endRange:focus,
.flatpickr-day.selected:hover,
.flatpickr-day.startRange:hover,
.flatpickr-day.endRange:hover,
.flatpickr-day.selected.prevMonthDay,
.flatpickr-day.startRange.prevMonthDay,
.flatpickr-day.endRange.prevMonthDay,
.flatpickr-day.selected.nextMonthDay,
.flatpickr-day.startRange.nextMonthDay,
.flatpickr-day.endRange.nextMonthDay {
  background: $C_blue;
  border-color: $C_blue;
}

.flatpickr-day.prevMonthDay, .flatpickr-day.nextMonthDay {
	color: $C_textSecondary;
}

