/* refactored flatpickr */
$calendarWidth: 310px;

.flatpickr-calendar {
	@extend %shadow;
	overflow: hidden;
	visibility: hidden;
	animation: none;
	direction: ltr;
	border: 1px solid $C_border;
	font-size: $font-size-small;
	line-height: 2;
	border-radius: $largeRadius;
	padding: $space-half;
	position: absolute;
	-ms-touch-action: manipulation;
	touch-action: manipulation;
	background: $C_contentBG;
	display: none;
}

.flatpickr-calendar.open,
.flatpickr-calendar.inline {
	opacity: 1;
	visibility: visible;
	overflow: visible;
	max-height: 640px;
}

.flatpickr-calendar.open {
	animation: fpFadeInDown 300ms cubic-bezier(0.23, 1, 0.32, 1);
	display: inline-block;
	z-index: 99999;
}

.flatpickr-calendar::before,
.flatpickr-calendar::after {
	position: absolute;
	display: block;
	pointer-events: none;
	border: solid transparent;
	content: "";
	height: 0;
	width: 0;
	left: 22px;
}

.flatpickr-calendar.rightMost::before,
.flatpickr-calendar.rightMost::after {
	left: auto;
	right: 22px;
}

.flatpickr-calendar::before {
	border-width: 5px;
	margin: 0 -5px;
}

.flatpickr-calendar::after {
	border-width: 4px;
	margin: 0 -4px;
}

.flatpickr-calendar.arrowTop::before,
.flatpickr-calendar.arrowTop::after {
	bottom: 100%;
}

.flatpickr-calendar.arrowTop::before {
	border-bottom-color: #e6e6e6;
}

.flatpickr-calendar.arrowTop::after {
	border-bottom-color: #fff;
}

.flatpickr-calendar.arrowBottom::before,
.flatpickr-calendar.arrowBottom::after {
	top: 100%;
}

.flatpickr-calendar.arrowBottom::before {
	border-top-color: #e6e6e6;
}

.flatpickr-calendar.arrowBottom::after {
	border-top-color: #fff;
}

.flatpickr-calendar:focus {
	outline: 0;
}

.flatpickr-month {
	height: 28px;
	text-align: center;
	position: relative;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	overflow: hidden;
}

.flatpickr-prev-month,
.flatpickr-next-month {
	text-decoration: none;
	cursor: pointer;
	position: absolute;
	top: 0;
	line-height: 1;
	height: 28px;
	padding: 10px calc(3.57% - 1.5px);
	z-index: 3;
}

.flatpickr-prev-month i,
.flatpickr-next-month i {
	position: relative;
}

.flatpickr-prev-month.flatpickr-prev-month,
.flatpickr-next-month.flatpickr-prev-month {
	left: 0;
}

.flatpickr-prev-month.flatpickr-next-month,
.flatpickr-next-month.flatpickr-next-month {
	right: 0;
}

.numInputWrapper {
	position: relative;
	height: auto;
}

.numInputWrapper input,
.numInputWrapper span {
	display: inline-block;
}

.numInputWrapper input {
	width: 100%;
}

.numInputWrapper input::-ms-clear {
	display: none;
}

.numInputWrapper span {
	position: absolute;
	right: 0;
	width: 14px;
	padding: 0 4px 0 2px;
	height: 50%;
	line-height: 0.5;
	opacity: 0;
	cursor: pointer;
	border: 1px solid rgba(57, 57, 57, 0.05);
	box-sizing: border-box;
}

.numInputWrapper span:hover {
	background: rgba(0, 0, 0, 0.1);
}

.numInputWrapper span:active {
	background: rgba(0, 0, 0, 0.2);
}

.numInputWrapper span::after {
	display: block;
	content: "";
	position: absolute;
	top: 33%;
}

.numInputWrapper .arrowUp {
	top: 0;
	border-bottom: 0;
}

.numInputWrapper .arrowUp::after {
	border-left: 4px solid transparent;
	border-right: 4px solid transparent;
	border-bottom: 4px solid $C_textPrimary;
}

.numInputWrapper .arrowDown {
	top: 50%;
}

.numInputWrapper .arrowDown::after {
	border-left: 4px solid transparent;
	border-right: 4px solid transparent;
	border-top: 4px solid $C_textPrimary;
}

.numInputWrapper:hover {
	background: rgba(0, 0, 0, 0.05);
}

.numInputWrapper:hover span {
	opacity: 1;
}

.flatpickr-current-month {
	font-size: 135%;
	position: absolute;
	left: 12.5%;
	padding: 6.16px 0 0;
	line-height: 1;
	height: 28px;
	display: inline-block;
	text-align: center;
	transform: translate3d(0, 0, 0);
	width: 80%;
}

.flatpickr-current-month.slideLeft {
	transform: translate3d(-100%, 0, 0);
	animation: fpFadeOut 10000ms ease, fpSlideLeft 10000ms cubic-bezier(0.23, 1, 0.32, 1);
}

.flatpickr-current-month.slideLeftNew {
	transform: translate3d(100%, 0, 0);
	animation: fpFadeIn 10000ms ease, fpSlideLeftNew 10000ms cubic-bezier(0.23, 1, 0.32, 1);
}

.flatpickr-current-month.slideRight {
	transform: translate3d(100%, 0, 0);
	animation: fpFadeOut 10000ms ease, fpSlideRight 10000ms cubic-bezier(0.23, 1, 0.32, 1);
}

.flatpickr-current-month.slideRightNew {
	transform: translate3d(0, 0, 0);
	animation: fpFadeIn 10000ms ease, fpSlideRightNew 10000ms cubic-bezier(0.23, 1, 0.32, 1);
}

.flatpickr-current-month .cur-month {
	display: inline-block;
}

.flatpickr-current-month .cur-month:hover {
	background: rgba(0, 0, 0, 0.05);
}

.flatpickr-current-month .numInputWrapper {
	width: 6ch;
	width: 7ch\0;
	display: inline-block;
}

.flatpickr-current-month .cur-year {
	cursor: text;
	padding: 0 0 0 0.5ch;
	margin: 0;
	display: inline-block;
	line-height: inherit;
	height: auto;
	border: 0;
}

.flatpickr-current-month .cur-year:focus {
	outline: 0;
}

.cur-year[disabled],
.cur-year[disabled]:hover {
	pointer-events: none;
}

.flatpickr-weekdays,
.flatpickr-weekdaycontainer {
	@include display(flex);
	text-align: center;
	overflow: hidden;
	width: 100%;
	align-items: center;
	height: 28px;
}

.flatpickr-weekday {
	cursor: default;
	font-size: 90%;
	flex: 1;
	font-weight: $W_bold;
}

.flatpickr-days {
	@include display(flex);
	position: relative;
	overflow: hidden;
	width: $calendarWidth;
}

.flatpickr-days:focus {
	outline: 0;
}

.dayContainer {
	@include display(flex);
	@include flex-wrap(wrap);
	@include justify-content(space-around);
	text-align: left;
	width: $calendarWidth;
	min-width: $calendarWidth;
	max-width: $calendarWidth;
	transform: translate3d(0, 0, 0);
	opacity: 1;
}

.flatpickr-day {
	@include flex-basis(14.29%);
	@include justify-content(center);
	background: none;
	border: 1px solid transparent;
	border-radius: 150px;
	box-sizing: border-box;
	cursor: pointer;
	font-weight: 400;
	width: 14.29%;
	max-width: 39px;
	height: 39px;
	line-height: 39px; // stylelint-disable-line declaration-property-unit-whitelist
	display: inline-block;
	text-align: center;
}

.flatpickr-day:hover,
.flatpickr-day.prevMonthDay:hover,
.flatpickr-day.nextMonthDay:hover,
.flatpickr-day:focus,
.flatpickr-day.prevMonthDay:focus,
.flatpickr-day.nextMonthDay:focus {
	cursor: pointer;
	outline: 0;
	background: #e6e6e6;
	border-color: #e6e6e6;
}

.flatpickr-day.today {
	border-color: #959ea9;
}

.flatpickr-day.today:hover,
.flatpickr-day.today:focus {
	border-color: #959ea9;
	background: #959ea9;
	color: #fff;
}

.flatpickr-day.disabled,
.flatpickr-day.disabled:hover,
.flatpickr-day.prevMonthDay,
.flatpickr-day.nextMonthDay {
	color: $C_textTertiary;
	background: transparent;
	border-color: transparent;
	cursor: default;
}

.flatpickr-day.disabled,
.flatpickr-day.disabled:hover {
	cursor: not-allowed;
	color: rgba(57, 57, 57, 0.1);
}

.flatpickr-innerContainer {
	overflow: hidden;
}

.flatpickr-input[readonly] {
	cursor: pointer;
}

@keyframes fpFadeInDown {
	from {
		opacity: 0;
		transform: translate3d(0, -20px, 0);
	}

	to {
		opacity: 1;
		transform: translate3d(0, 0, 0);
	}
}

@keyframes fpSlideLeft {
	from {
		transform: translate3d(0, 0, 0);
	}

	to {
		transform: translate3d(-100%, 0, 0);
	}
}

@keyframes fpSlideLeftNew {
	from {
		transform: translate3d(100%, 0, 0);
	}

	to {
		transform: translate3d(0, 0, 0);
	}
}

@keyframes fpSlideRight {
	from {
		transform: translate3d(0, 0, 0);
	}

	to {
		transform: translate3d(100%, 0, 0);
	}
}

@keyframes fpSlideRightNew {
	from {
		transform: translate3d(-100%, 0, 0);
	}

	to {
		transform: translate3d(0, 0, 0);
	}
}

@keyframes fpFadeOut {
	from {
		opacity: 1;
	}

	to {
		opacity: 0;
	}
}

@keyframes fpFadeIn {
	from {
		opacity: 0;
	}

	to {
		opacity: 1;
	}
}
/* END refactored flatpickr */

/* meetup overrides */
.flatpickr-day.selected,
.flatpickr-day.selected:focus,
.flatpickr-day.selected:hover {
	background: $C_blue;
	border-color: $C_blue;
	box-shadow: none;
	color: $C_textPrimaryInverted;
}
