/* refactored flatpickr */
$calendarWidth: 310px;

.flatpickr-calendar {
	@extend %shadow;
	animation: none;
	background: $C_contentBG;
	border: 1px solid $C_border;
	border-radius: $largeRadius;
	direction: ltr;
	display: none;
	font-size: $font-size-small;
	line-height: 2;
	overflow: hidden;
	padding: $space-half;
	position: absolute;
	-ms-touch-action: manipulation;
	touch-action: manipulation;
	visibility: hidden;
}

.flatpickr-calendar.open,
.flatpickr-calendar.inline {
	max-height: 640px;
	opacity: 1;
	overflow: visible;
	visibility: visible;
}

.flatpickr-calendar.open {
	animation: fpFadeInDown 300ms cubic-bezier(0.23, 1, 0.32, 1);
	display: inline-block;
	z-index: 99999;
}

.flatpickr-calendar::before,
.flatpickr-calendar::after {
	border: solid transparent;
	content: "";
	display: block;
	height: 0;
	left: 22px;
	pointer-events: none;
	position: absolute;
	width: 0;
}

.flatpickr-calendar.rightMost::before,
.flatpickr-calendar.rightMost::after {
	left: auto;
	right: 22px;
}

.flatpickr-calendar::before {
	border-width: 5px;
	margin: 0 -5px;
}

.flatpickr-calendar::after {
	border-width: 4px;
	margin: 0 -4px;
}

.flatpickr-calendar.arrowTop::before,
.flatpickr-calendar.arrowTop::after {
	bottom: 100%;
}

.flatpickr-calendar.arrowTop::before {
	border-bottom-color: #e6e6e6;
}

.flatpickr-calendar.arrowTop::after {
	border-bottom-color: #fff;
}

.flatpickr-calendar.arrowBottom::before,
.flatpickr-calendar.arrowBottom::after {
	top: 100%;
}

.flatpickr-calendar.arrowBottom::before {
	border-top-color: #e6e6e6;
}

.flatpickr-calendar.arrowBottom::after {
	border-top-color: #fff;
}

.flatpickr-calendar:focus {
	outline: 0;
}

.flatpickr-month {
	height: 28px;
	overflow: hidden;
	position: relative;
	text-align: center;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.flatpickr-prev-month,
.flatpickr-next-month {
	cursor: pointer;
	height: 28px;
	line-height: 1;
	padding: 10px calc(3.57% - 1.5px);
	position: absolute;
	text-decoration: none;
	top: 0;
	z-index: 3;
}

.flatpickr-prev-month i,
.flatpickr-next-month i {
	position: relative;
}

.flatpickr-prev-month.flatpickr-prev-month,
.flatpickr-next-month.flatpickr-prev-month {
	left: 0;
}

.flatpickr-prev-month.flatpickr-next-month,
.flatpickr-next-month.flatpickr-next-month {
	right: 0;
}

.numInputWrapper {
	height: auto;
	position: relative;
}

.numInputWrapper input,
.numInputWrapper span {
	display: inline-block;
}

.numInputWrapper input {
	width: 100%;
}

.numInputWrapper input::-ms-clear {
	display: none;
}

.numInputWrapper span {
	border: 1px solid rgba(57, 57, 57, 0.05);
	box-sizing: border-box;
	cursor: pointer;
	height: 50%;
	line-height: 0.5;
	opacity: 0;
	padding: 0 4px 0 2px;
	position: absolute;
	right: 0;
	width: 14px;
}

.numInputWrapper span:hover {
	background: rgba(0, 0, 0, 0.1);
}

.numInputWrapper span:active {
	background: rgba(0, 0, 0, 0.2);
}

.numInputWrapper span::after {
	content: "";
	display: block;
	position: absolute;
	top: 33%;
}

.numInputWrapper .arrowUp {
	border-bottom: 0;
	top: 0;
}

.numInputWrapper .arrowUp::after {
	border-bottom: 4px solid $C_textPrimary;
	border-left: 4px solid transparent;
	border-right: 4px solid transparent;
}

.numInputWrapper .arrowDown {
	top: 50%;
}

.numInputWrapper .arrowDown::after {
	border-left: 4px solid transparent;
	border-right: 4px solid transparent;
	border-top: 4px solid $C_textPrimary;
}

.numInputWrapper:hover {
	background: rgba(0, 0, 0, 0.05);
}

.numInputWrapper:hover span {
	opacity: 1;
}

.flatpickr-current-month {
	display: inline-block;
	font-size: 135%;
	height: 28px;
	left: 12.5%;
	line-height: 1;
	padding: 6.16px 0 0;
	position: absolute;
	text-align: center;
	transform: translate3d(0, 0, 0);
	width: 80%;
}

.flatpickr-current-month.slideLeft {
	animation: fpFadeOut 10000ms ease, fpSlideLeft 10000ms cubic-bezier(0.23, 1, 0.32, 1);
	transform: translate3d(-100%, 0, 0);
}

.flatpickr-current-month.slideLeftNew {
	animation: fpFadeIn 10000ms ease,
		fpSlideLeftNew 10000ms cubic-bezier(0.23, 1, 0.32, 1);
	transform: translate3d(100%, 0, 0);
}

.flatpickr-current-month.slideRight {
	animation: fpFadeOut 10000ms ease, fpSlideRight 10000ms cubic-bezier(0.23, 1, 0.32, 1);
	transform: translate3d(100%, 0, 0);
}

.flatpickr-current-month.slideRightNew {
	animation: fpFadeIn 10000ms ease,
		fpSlideRightNew 10000ms cubic-bezier(0.23, 1, 0.32, 1);
	transform: translate3d(0, 0, 0);
}

.flatpickr-current-month .cur-month {
	display: inline-block;
}

.flatpickr-current-month .cur-month:hover {
	background: rgba(0, 0, 0, 0.05);
}

.flatpickr-current-month .numInputWrapper {
	display: inline-block;
	width: 6ch;
	width: 7ch\0;
}

.flatpickr-current-month .cur-year {
	border: 0;
	cursor: text;
	display: inline-block;
	height: auto;
	line-height: inherit;
	margin: 0;
	padding: 0 0 0 0.5ch;
}

.flatpickr-current-month .cur-year:focus {
	outline: 0;
}

.cur-year[disabled],
.cur-year[disabled]:hover {
	pointer-events: none;
}

.flatpickr-weekdays,
.flatpickr-weekdaycontainer {
	align-items: center;
	display: flex;
	height: 28px;
	overflow: hidden;
	text-align: center;
	width: 100%;
}

.flatpickr-weekday {
	cursor: default;
	flex: 1;
	font-size: 90%;
	font-weight: $W_bold;
}

.flatpickr-days {
	display: flex;
	overflow: hidden;
	position: relative;
	width: $calendarWidth;
}

.flatpickr-days:focus {
	outline: 0;
}

.dayContainer {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	max-width: $calendarWidth;
	min-width: $calendarWidth;
	opacity: 1;
	text-align: left;
	transform: translate3d(0, 0, 0);
	width: $calendarWidth;
}

.flatpickr-day {
	background: none;
	border: 1px solid transparent;
	border-radius: 150px;
	box-sizing: border-box;
	cursor: pointer;
	display: inline-block;
	flex-basis: 14.29%;
	font-weight: 400;
	height: 39px;
	justify-content: center;
	line-height: 39px; // stylelint-disable-line declaration-property-unit-whitelist
	max-width: 39px;
	text-align: center;
	width: 14.29%;
}

.flatpickr-day:hover,
.flatpickr-day.prevMonthDay:hover,
.flatpickr-day.nextMonthDay:hover,
.flatpickr-day:focus,
.flatpickr-day.prevMonthDay:focus,
.flatpickr-day.nextMonthDay:focus {
	background: #e6e6e6;
	border-color: #e6e6e6;
	cursor: pointer;
	outline: 0;
}

.flatpickr-day.today {
	border-color: #959ea9;
}

.flatpickr-day.today:hover,
.flatpickr-day.today:focus {
	background: #959ea9;
	border-color: #959ea9;
	color: #fff;
}

.flatpickr-day.disabled,
.flatpickr-day.disabled:hover,
.flatpickr-day.prevMonthDay,
.flatpickr-day.nextMonthDay {
	background: transparent;
	border-color: transparent;
	color: $C_textTertiary;
	cursor: default;
}

.flatpickr-day.prevMonthDay,
.flatpickr-day.nextMonthDay {
	visibility: hidden;
}

.flatpickr-day.disabled,
.flatpickr-day.disabled:hover {
	color: rgba(57, 57, 57, 0.1);
	cursor: not-allowed;
}

.flatpickr-innerContainer {
	overflow: hidden;
}

.flatpickr-input[readonly] {
	cursor: pointer;
}

@keyframes fpFadeInDown {
	from {
		opacity: 0;
		transform: translate3d(0, -20px, 0);
	}

	to {
		opacity: 1;
		transform: translate3d(0, 0, 0);
	}
}

@keyframes fpSlideLeft {
	from {
		transform: translate3d(0, 0, 0);
	}

	to {
		transform: translate3d(-100%, 0, 0);
	}
}

@keyframes fpSlideLeftNew {
	from {
		transform: translate3d(100%, 0, 0);
	}

	to {
		transform: translate3d(0, 0, 0);
	}
}

@keyframes fpSlideRight {
	from {
		transform: translate3d(0, 0, 0);
	}

	to {
		transform: translate3d(100%, 0, 0);
	}
}

@keyframes fpSlideRightNew {
	from {
		transform: translate3d(-100%, 0, 0);
	}

	to {
		transform: translate3d(0, 0, 0);
	}
}

@keyframes fpFadeOut {
	from {
		opacity: 1;
	}

	to {
		opacity: 0;
	}
}

@keyframes fpFadeIn {
	from {
		opacity: 0;
	}

	to {
		opacity: 1;
	}
}
/* END refactored flatpickr */

/* meetup overrides */
.flatpickr-day.selected,
.flatpickr-day.selected:focus,
.flatpickr-day.selected:hover {
	background: $C_blue;
	border-color: $C_blue;
	box-shadow: none;
	color: $C_textPrimaryInverted;
}
