/*doc
---
title: Cards
name: uiCard
category: UI Components
---
Card-like boxes.

## Standard, Group, and Event cards
(This example uses `gridList`, but cards may placed anywhere)

```html_example
<section class="stripe--collection">
	<div class="bounds">
		<ul class="gridList gridList--has1 atMedium_gridList--has3">
			<!-- Base card styles -->
			<li class="gridList-item">
				<div class="card">
					<h4>Look at this card</h4>
					<p>Just <em>look at it</em></p>
				</div>
			</li>
			<li class="gridList-item">
				<div class="card">
					<h4>Look at this card</h4>
					<p>Just <em>look at it</em></p>
				</div>
			</li>
			<li class="gridList-item">
				<div class="card">
					<h4>Look at this card</h4>
					<p>Just <em>look at it</em></p>
				</div>
			</li>
		</ul>
	</div>
</section>
```
*/

$cardFlushProps: (margin-left, margin-right);

.card {
	@include customPropertyValue(padding, var(--responsiveSpace) var(--responsiveSpace) 0, $space $space 0);
	border: 0.5px solid $C_border;
	box-sizing: border-box;
	display: block;
	background: $C_contentBG;
	border-radius: $largeRadius;
	position: relative;
	background-size: cover;
	background-clip: padding-box;
	min-height: $block-4;
}

.card--initialHeight {
	min-height: 0;
}

.card--flush {
	@include customPropertyValue($cardFlushProps, calc(var(--responsiveSpace) * -1), -#{$space});
	border-radius: 0;
	border-width: 0;
}

@include _bpModifier("card", "flush") {
	border-radius: $largeRadius;
	border-width: 1px;
	margin-left: 0;
	margin-right: 0;
}

.card--hasShadow {
	@extend %shadow;
}

.card--hasHoverShadow {
	@include shadowOnHover();
}

.card--hasShadowPlusHover {
	@include shadowOnHover(true);
}

.card--isLoading {
	overflow: hidden;
}
