.checkbox {
	cursor: pointer;
	display: inline-block;
	font-size: $font-size;
	height: $font-size;
	line-height: $line-height;
	margin: 0 $space-half 0 0;

	@include browser-lessThanIE(10) {
		top: $space / 2;
	}
}

[data-swarm-checkbox]:focus-within > span:first-of-type {
	box-shadow: 0 0 1px 2px #426b8f !important;
}
