.checkbox-container {
	align-items: center;
	display: flex;

	input {
		display: none;
	}
}

.checkbox {
	align-items: center;
	background-color: white;
	border: 1px solid $C_secondary;
	border-radius: 4px;
	box-sizing: border-box;
	cursor: pointer;
	display: flex;
	font-size: $font-size;
	height: 20px;
	justify-content: center;
	line-height: $line-height;
	margin: 0 var(--size-space-half) 0 0;
	width: 20px;

	@include browser-lessThanIE(10) {
		top: $space / 2;
	}

	&:disabled {
		background-color: var(--color-gray-3);
		border: 1px solid var(--color-gray-3);
	}
}
