/*doc
---
title: Chunk
---
Adds bottom space to an element
or a group of elements.
```
*/

%chunk,
.chunk {
	@extend %clearfix;
	display: block;
	padding-bottom: var(--responsive-space) !important;
}
