@import "~flatpickr/dist/flatpickr"; // calendar component

/* overrides */

.flatpickr-calendar {
	padding: 8px;   
	width: auto;  
}

span.flatpickr-weekday {
	color: inherit;
	font-weight: normal;
  }

.flatpickr-current-month span.cur-month {
	font-weight: normal;
}

.flatpickr-day.selected,
.flatpickr-day.startRange,
.flatpickr-day.endRange,
.flatpickr-day.selected.inRange,
.flatpickr-day.startRange.inRange,
.flatpickr-day.endRange.inRange,
.flatpickr-day.selected:focus,
.flatpickr-day.startRange:focus,
.flatpickr-day.endRange:focus,
.flatpickr-day.selected:hover,
.flatpickr-day.startRange:hover,
.flatpickr-day.endRange:hover,
.flatpickr-day.selected.prevMonthDay,
.flatpickr-day.startRange.prevMonthDay,
.flatpickr-day.endRange.prevMonthDay,
.flatpickr-day.selected.nextMonthDay,
.flatpickr-day.startRange.nextMonthDay,
.flatpickr-day.endRange.nextMonthDay {
  background: #538eed; /* $blue */
  border-color: #538eed;
}

// datepicker form styles

.dateTimePicker {
	position:relative;
}

.calendarTimeComponent {	
	.input--dateTimePicker {
		position: relative;
		display:inline-block;
	}

	.input--time {
		position: relative;
		display:inline-block;
		width:50%;
		text-align:right;
	}

}

