/*doc
---
title: Date Display
name: dateDisplay
category: UI Components
---
Display text for dates (replaces `tearsheet`).

#### dateDisplay example
```html_example
<time datetime="2016-04-20" class="dateDisplay">
	<span class="dateDisplay-day">20</span>
	<span class="dateDisplay-month">Apr</span>
</time>
```
*/

.dateDisplay {
	display: inline-block;
	text-align: center;
}

.dateDisplay-day,
.dateDisplay-month {
	display: block;
	text-align: center;
}

.dateDisplay-day {
	font-size: $font-size-tearsheet;
	font-weight: $W_bold;
	line-height: 1;
}

.dateDisplay-month {
	@extend %text--label;
}
