@import "~flatpickr/dist/flatpickr"; // calendar component

.dateTimePicker {
	position:relative;
}

.calendarTimeComponent {	
	.input--dateTimePicker {
		position: relative;
		display:inline-block;
	}

	.input--time {
		position: relative;
		display:inline-block;
		width:50%;
		text-align:right;
	}

}

