.dropdownMenu-item {
	box-sizing: border-box;
	border-bottom: 1px solid $C_border;
	cursor: pointer;
	justify-content: flex-start;
	padding: calc(var(--responsiveSpace) / 2);

	&:hover {
		background-color: $C_coolGrayLight;
	}

	&:last-child {
		border-bottom: 0;
	}
}
