.dropdownMenu-item {
	border-bottom: 1px solid $C_border;
	box-sizing: border-box;
	cursor: pointer;
	justify-content: flex-start;
	padding: calc(var(--responsive-space) / 2);

	&:hover,
	&:focus {
		background-color: $C_coolGrayLight;
	}

	&:last-child {
		border-bottom: 0;
	}
}
