//
// Dropdown
//
$dropdownShadow: $interactiveShadow;
$content-minWidth: $block-6;
$triangleSize: 10px;

.dropdown {
	display: inline-block;
	position: relative;
}

.dropdown-trigger {
	display: inline;
	cursor: pointer;

	&--active {
		&:focus {
			outline: 0;
		}
	}
}

.dropdown-content {
	border: 1px solid $C_border;
	border-radius: $defaultRadius;
	background-color: $C_contentBG;
	box-shadow: $dropdownShadow;
	box-sizing: border-box;
	margin-top: $triangleSize;
	position: absolute;
	transition: left $duration--short $easing--standard,
		top $duration--short $easing--standard;
	z-index: map-get($zindex-map, "floating-content");

	// outer triangle for border
	&:before {
		width: 0;
		height: 0;
		border-bottom: ($triangleSize + 1) solid $C_border;
		border-right: ($triangleSize + 1) solid transparent;
		border-left: ($triangleSize + 1) solid transparent;
		top: -$triangleSize - 0.5;
	}

	// inner triangle to match content color
	&:after {
		width: 0;
		height: 0;
		border-bottom: $triangleSize solid $C_white;
		border-right: $triangleSize solid transparent;
		border-left: $triangleSize solid transparent;
		top: -$triangleSize + 1;
	}

	&:before,
	&:after {
		content: "";
		position: absolute;

		// overlap content container
		z-index: map-get($zindex-map, "floating-content") + 1;
	}
}

@mixin alignDropdown($direction) {
	@if $direction != "center" {
		&:before {
			#{$direction}: $space-half;
		}
		&:after {
			#{$direction}: $space-half + 1;
		}
	}
	@if $direction == "center" {
		&:before {
			left: 50%;
			transform: translateX(-50%);
		}
		&:after {
			left: 50%;
			transform: translateX(-50%);
		}
	}
}

.dropdown--noPortal {
	.dropdown-content--left {
		left: 0;
	}
	.dropdown-content--center {
		left: 50%;
	}
	.dropdown-content--right {
		right: 0;
		transform: translateX(0);
		-webkit-transform: translateX(0);
	}
}

.dropdown-content--right {
	@include alignDropdown("right");
	transform: translateX(-100%);
	-webkit-transform: translateX(-100%);
}

.dropdown-content--left {
	@include alignDropdown("left");
}

.dropdown-content--center {
	@include alignDropdown("center");
	transform: translateX(-50%);
	-webkit-transform: translateX(-50%);
}

.dropdownMenu-item {
	border-bottom: 1px solid $C_border;
	cursor: pointer;
	padding: calc(var(--responsiveSpace)/2);
	&:hover {
		background-color: $C_coolGrayLight;
	}
	&:last-child {
		border-bottom: 0;
	}
}
