.flex {
	@include flexParent("row", false);
}

.flex-item,
.flex-item--justifyLeft {
	@include flexChild("grow");
	padding-left: var(--responsive-space);

	&:first-child {
		padding-left: 0;
	}
}

.flex--row {
	@include flexParent("row", false);

	> .flex-item {
		padding-left: var(--responsive-space);
		width: auto;

		&:first-child {
			padding-left: 0;
		}
	}
}

@include _bpModifier(flex, column, true) {
	// `true` arg generates "atAll" conditional class
	@include flexParent("column", false);

	> .flex-item {
		padding-left: 0;
		width: 100%;
	}
}

.flex--column {
	@include flexParent("column", false);
	height: 100%;

	> .flex-item {
		flex-basis: auto;
		padding-left: 0;
		width: 100%;
	}
}

@include _bpModifier(flex, row, true) {
	@include flexParent("row", false);
	height: auto;

	> .flex-item {
		flex-basis: 0;
		padding-left: var(--responsive-space);
		width: auto;

		&:first-child {
			padding-left: 0;
		}
	}
}

$flexGrowFactors: 1, 2, 3, 4, 5, 6, 7;

@each $factor in $flexGrowFactors {
	.flex > .flex-item--#{$factor} {
		flex-grow: $factor;
	}
}

.flex > .flex-item--shrink {
	@include flexChild("shrink");
}

.flex--noGutters > .flex-item {
	padding: 0;

	&:first-child,
	&:last-child {
		padding: 0;
	}
}

.flex--wrap {
	flex-wrap: wrap;
}

@include _bpModifier(flex, columnReverse, true) {
	flex-direction: column-reverse;
}

@include _bpModifier(flex, rowReverse, true) {
	flex-direction: row-reverse;

	> .flex-item {
		&:first-child {
			padding-left: var(--responsive-space);
		}

		&:last-child {
			padding-left: 0;
		}
	}
}

@each $jName, $jprop in $flexJustifyMap {
	.flex--#{$jName} {
		justify-content: $jprop;
	}
}

@each $aName, $aprop in $flexAlignMap {
	.flex--align#{str-firstCharToUpper($aName)} {
		align-items: $aprop;
	}
}

.flex--justifyRight {
	.flex-item {
		padding-left: 0;
		padding-right: var(--responsive-space);

		&:last-child {
			padding-right: 0;
		}
	}
}

.flex--justifyCenter {
	.flex-item {
		padding-left: calc(var(--responsive-space) / 2);
		padding-right: calc(var(--responsive-space) / 2);

		&:first-child {
			padding-left: 0;
		}

		&:last-child {
			padding-right: 0;
		}
	}
}
