.footerStripe--main,
.footerStripe-legal {
	// :SDS: consider making this available in swarm-sasstools
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.footerStripe-main {
	background-color: $C_darkGray;
}

.footerStripe-main--isLight {
	background-color: $C_collectionBG;
}

.footerList-legal li:after {
	content: '';
	@include atMediaUp(medium) {
		content: attr(data-separator);
	}
}

.footerStripe-legal {
	background-color: darken($C_darkGray, 03%);
}

.footerStripe-legal--isLight {
	background-color: darken($C_collectionBG, 03%);
}

.bounds--footer {
	max-width: 320px;
	@include atMediaUp(medium) {
		max-width: $bounds-wide;
	}
}

.footer-item {
	padding-bottom: $space-half;
}
