@import "~swarm-constants/dist/scss/rawColors";

.inputContainer {
	position: relative;
}

//
// Input icons
//
.icon--field {
	display: flex !important;
	align-content: center;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	padding: $space;
}
input:focus + .icon--field {
	@include color-svg($C_textPrimary);
}

//
// Labels
//
.label--field {
	padding-bottom: $space-quarter;
	display: inline-block;
}

.label--minor {
	font-weight: normal;
}

.radio {
	cursor: pointer;
	display: inline-block;
	font-size: $font-size;
	height: $font-size;
	line-height: 1;
	line-height: $line-height;
	margin: 0 $space-half 0 0;

	@include browser-lessThanIE(10) {
		top: $space-half;
	}
}

//
// Helper text
//
.helperTextContainer {
	padding-bottom: $space-quarter;
}

//
// Validation styles
//
.field--error {
	border-color: $C_attention !important;
	&:focus {
		border-color: $C_attention !important;
	}
}

//
// Reset field styles
//
select.field--reset,
input.field--reset,
input.field--reset:hover,
input.field--reset:focus,
input.field--reset:active {
	@include resetFieldStyles;

	.inverted & {
		@include resetFieldStyles;
	}

}

//
// Styles for a field with an icon
//
.field--withIcon {
	background-repeat: no-repeat;
	background-position: $space center;
}

//
// Styles to visually mimic inputs
//
.fauxInput {
	@include formInput();

	// manually changing height to match other inputs
	height: calc(var(--font-size-normal) * var(--line-height-normal) + var(--space-double));

	&.disabled {
		@include formInput--disabled();
	}

	&:hover {
		@include formInput--hovered();
	}

	&.focused {
		@include formInput--focused();
	}

	&.error {
		border-color: $C_attention !important;
	}

	.inverted & {
		background-color: $C_contentBGInverted;
		border-color: $C_borderInverted;
		color: $C_textPrimaryInverted;

		&:hover {
			border-color: $C_borderDarkInverted;
		}

		&[disabled] {
			background-color: $C_borderInverted;
			border-color: transparent;
			color: $C_textSecondaryInverted;

			&:hover {
				background-color: $C_borderInverted;
			}

		}

	}

}

//
// Radio and Checkbox styles
//
$toggleSize: 20px;
$toggleHighlight: $RAW_blue;

.toggleLabel {
	padding-bottom: $space-half;

	.toggleLabel-container,
	.toggleLabel-container:last-child {
		padding-left: $space-half;
	}

	&:hover {

		.fauxToggle {
			border-color: $toggleHighlight;

			&.checked {
				background-color: darken($toggleHighlight, 15%);
			}

			&.disabled {
				background-color: $C_white;
				border-color: $C_textHint;
			}

		}

	}

}

.fauxToggle {
	background: $C_white;
	border: 1px solid $C_textSecondary;
	height: $toggleSize;
	width: $toggleSize;

	.svg-icon {
		@include color-all($C_textPrimaryInverted);
	}

	&.checked {
		background-color: $toggleHighlight;
		border-color: transparent;
	}

	&.disabled {
		@include color-all($C_textHint);
		border-color: $C_textHint;

		&.checked {
			background-color: $C_white;
			border-color: $C_textHint;
		}
	}

	&.focused {
		border-color: $toggleHighlight;

		&.checked {
			box-shadow: 0 0 4px 1px $toggleHighlight;
		}
	}

}

.radio:focus {
	+ .fauxToggle {
		border-color: $toggleHighlight;

		&.checked {
			box-shadow: 0 0 4px 1px $toggleHighlight;
		}
	}
}

.fauxToggle--checkbox {
	border-radius: $smallRadius;
}

.fauxToggle--radio,
.radio-indicator {
	border-radius: 50%;
}

.radio-indicator {
	background-color: white;
	display: block;
	height: 8px;
	width: 8px;
}

.checkbox-indicator {
	height: 100%;
}

//
// Select input
//
.select--reset {
	-webkit-user-select: none;
	-moz-user-select: -moz-none;
	-ms-user-select: none;
	user-select: none;

	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;

	&::-ms-expand {
		display: none;
	}

	&:focus::-ms-value {
		background: transparent;
		color: $C_textPrimary;
	}
}

.select-customArrow {
	bottom: $space; // 4px is for margin between forms
	position: absolute;
	pointer-events: none;
	right: $space;
}

.padding--selectArrow {
	padding-right: $media-xs + $space + $space-half;
	// $media-xs:   enough padding for the arrow
	// $space:      preserve right padding in forms
	// $space-half: give a little space between the arrow and the text
}

//
// Time input
//
.timeInput-meridian:focus {
	font-weight: $W_medium;
}

.timeInput-meridianContainer {
	margin-left: $space-half;
}

.fauxInput--time {
	.flex,
	.flex-item,
	input,
	input:focus,
	input:hover,
	input:active {
		height: 100%;
	}

	input {
		max-width: 2em;
	}

	.svg {
		display: none;
	}
}

//
// Search input
//
input[type="search"] {
	// avoid safari user agent weirdness with search fields
	-webkit-appearance: textfield;
}

//
// Character counter
//
.charCount {
	bottom: 0;
	position: absolute;
	right: $space-half;
}
