$glColumns: 1, 2, 3, 4, 5, 6, 7, 8, 9, 10;


.gridList {
	margin: 0 #{-$space} 0 0;
	padding: 0;
	list-style: none;
	font-size: 0; // shrink whitespace inside .gridList
}

.gridList-item {
	font-size: 1rem; // reset to normal inside each LI element
	display: inline-block;
	margin: 0;
	vertical-align: top;
	width: 50%;
	box-sizing: border-box;

	> a {
		display: block;
	}
}

// This extra layer of nesting is needed for IE11.
// IE11 ignores `box-sizing: border-box` on items with a flex-basis,
// causing the `gridListAutoheight` variant not to work correctly
.gridList-itemInner {
	padding: 0 $space $space 0;
}

.gridList--photoGrid {
	margin: 0 #{-($space + $space-half)} 0 #{-$space};
	padding: 0;

	> .gridList-item {
		padding: 0 $space-quarter $space-quarter 0;
	}
}

// small/default

@each $col in $glColumns {
	.gridList--has#{$col} > .gridList-item {
		width: percentage(1 / $col);
	}
}

// larger breakpoints

@each $col in $glColumns {
	@include _bpModifier(gridList, has#{$col}) {
		> .gridList-item {
			width: percentage(1 / $col);
		}
	}
}

.gridList--autoHeight {
	@include customPropertyValue(margin-left, calc(var(--responsiveSpace) * -1), -#{$space});

	> .gridList-item {
		width: auto;
	}

	&:first-child {
		@include customPropertyValue(padding-left, var(--responsiveSpace), $space);
	}
}

// autoHeight - small/default

@each $col in $glColumns {
	.gridList--autoHeight--has#{$col} > .gridList-item {
		flex: 0 0 percentage(1 / $col);
	}
}

// autoHeight - larger breakpoints

@each $col in $glColumns {
	@include _bpModifier(gridList--autoHeight, has#{$col}) {
		> .gridList-item {
			flex: 0 0 percentage(1 / $col);
		}
	}
}
