.hscrollGradientWrap {
	position: relative;

	&::before,
	&::after {
		content: "";
		display: block;
		position: absolute;
		height: 100%;
		width: $space;
		top: 0;
	}

	&::before {
		left: 0;

		@include background-image(linear-gradient(to right, $C_contentBG, transparentize($C_contentBG, 1)));
	}

	&::after {
		right: 0;

		@include background-image(linear-gradient(to left, #fff, transparentize(#ffffff, 1)));
	}

	.stripe--collection & {
		&::before {
			@include background-image(linear-gradient(to right, $C_collectionBG, transparentize($C_collectionBG, 1)));
		}

		&::after {
			@include background-image(linear-gradient(to left, $C_collectionBG, transparentize($C_collectionBG, 1)));
		}
	}

	.stripe--inverted {
		&::before {
			@include background-image(linear-gradient(to right, $C_contentBGInverted, transparentize($C_contentBGInverted, 1)));
		}

		&::after {
			@include background-image(linear-gradient(to left, $C_contentBGInverted, transparentize($C_contentBGInverted, 1)));
		}
	}
}

.hscrollGradient--hidden {
	&::before {
		display: none;
	}
}

.hscroll {
	-webkit-overflow-scrolling: touch;
	-ms-overflow-style: scrollbar;
	overflow-x: scroll;
}

.hscroll::-webkit-scrollbar {
	display: none !important;
}

.hscroll-content {
	@extend %inlineblockList;
	box-sizing: content-box;
	white-space: nowrap;

	> li {
		vertical-align: top;
	}
}

@include _bpModifier(hscroll, unclip) {
	-webkit-overflow-scrolling: auto;
	-ms-overflow-style: auto;
	overflow-x: visible;

	.hscroll-content {
		white-space: normal;
	}
}
