@mixin _iconColor( $color, $invertedColor ) {
	@include color-svg($color);

	.inverted & {
		@include color-svg($invertedColor);
	}
}

@include keyframes(spin) {
	0% {
		@include transform(rotate(0deg));
	}

	100% {
		@include transform(rotate(360deg));
	}
}

//
// Base icon styles
//
.svg { // SVG wrapping span
	display: inline-block;
}

.svg-icon { // SVG element
	@include _iconColor( $C_textSecondary, $C_textSecondaryInverted );
	@include display(inline-flex);
	vertical-align: bottom;
	font-size: 0;

	// click handling on svg elements
	// (ensures the entire element is clickable, not just the drawn bits
	position: relative;

	use {
		pointer-events: none;
	}
}

//
// Icons with enclosing circle
//
.svg--circled {
	position: relative;

	&::before {
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		content: "";
		background-color: $C_lightGray;
		border: 1px solid $C_border;
		border-radius: 100%;
	}

	svg {
		transform: scale(0.4);
	}
}

//
// Specific icon shape styles
//
.svg--updates {
	@include transform-origin(center center);
	@include animation(spin 0.4s linear);
	@include animation-iteration-count(infinite);
}
