$C_svgIcon: rgba(46, 62, 72, 0.75);
$C_svgIconInverted: rgba(255, 255, 255, 0.7);

@mixin _iconColor($color, $invertedColor) {
	@include color-svg($color);

	.inverted & {
		@include color-svg($invertedColor);
	}
}

@keyframes spin {
	0% {
		transform: rotate(0deg);
	}

	100% {
		transform: rotate(360deg);
	}
}

//
// Base icon styles
//
.svg {
	// SVG wrapping span
	display: inline-block;
}

.svg-icon {
	// SVG element
	@include _iconColor($C_svgIcon, $C_svgIconInverted);
	display: inline-flex;
	font-size: 0;

	// click handling on svg elements
	// (ensures the entire element is clickable, not just the drawn bits
	position: relative;
	vertical-align: bottom;

	use {
		pointer-events: none;
	}
}

//
// Icons with enclosing circle
//
.svg--circled {
	position: relative;

	&::before {
		background-color: $C_lightGray;
		border: 1px solid $C_border;
		border-radius: 100%;
		bottom: 0;
		content: "";
		left: 0;
		position: absolute;
		right: 0;
		top: 0;
	}

	svg {
		transform: scale(0.4);
	}
}

//
// Specific icon shape styles
//
.svg--updates {
	animation: spin 400ms linear;
	animation-iteration-count: infinite;
	transform-origin: center center;
}
