.infoToggle {
	&-trigger {
		background-color: var(--c-textHint);
		border-radius: 50%;
		color: var(--c-white);
		font-size: 10px;
		height: 15px;
		width: 15px;
	}
	&-label {
		display: inline-block;
		margin-right: var(--space-quarter);
	}
}
