%inlineblockList,
.inlineblockList {
	margin: 0;
	padding: 0;

	> li {
		display: inline-block;
		padding-right: var(--responsive-space);

		&:last-child {
			padding-right: 0;
		}
	}
}

.inlineblockList--separated > li {
	padding-right: calc(var(--responsive-space) / 2);

	&::after {
		content: attr(data-separator);
		padding-left: calc(var(--responsive-space) / 2);
		speak: none;
	}

	&:last-child {
		&::after {
			display: none;
		}
	}
}
