/*doc
---
title: Inline-block list
name: inlineblockList
category: Layout
---
Resets list styles; adds `display: inline-block` to
each list item and right gutters between items.

#### Example

```html_example
<ul class="inlineblockList">
	<li><img src="https://placekitten.com/g/72/72" alt="fluffy kitten" /></li>
	<li><img src="https://placekitten.com/g/72/72" alt="fluffy kitten" /></li>
	<li><img src="https://placekitten.com/g/72/72" alt="fluffy kitten" /></li>
	<li><img src="https://placekitten.com/g/72/72" alt="fluffy kitten" /></li>
</ul>

<ul class="inlineblockList inlineblockList--bulleted">
	<li>These</li>
	<li>list</li>
	<li>items</li>
	<li>are</li>
	<li>bulleted</li>
</ul>

<ul class="inlineblockList inlineblockList--overlap">
	<li><img src="https://placekitten.com/g/72/72" alt="fluffy kitten" /></li>
	<li><img src="https://placekitten.com/g/72/72" alt="fluffy kitten" /></li>
	<li><img src="https://placekitten.com/g/72/72" alt="fluffy kitten" /></li>
	<li><img src="https://placekitten.com/g/72/72" alt="fluffy kitten" /></li>
</ul>
```

### Variants
A class of `inlineblockList` is required; the following classes are
optional variants:

Class                        | Description
---------------------------- | ------------------------------------------------------------
`inlineblockList--separated` | puts a character between each list item. Used for things like lists of links
*/
%inlineblockList,
.inlineblockList {
	margin: 0;
	padding: 0;
	> li {
		padding-right: var(--responsive-space);
		display: inline-block;

		&:last-child {
			padding-right: 0;
		}
	}
}

.inlineblockList--separated > li {
	padding-right: calc(var(--responsive-space) / 2);

	&:after {
		padding-left: calc(var(--responsive-space) / 2);
		content: attr(data-separator);
		speak: none;
	}

	&:last-child {
		&:after {
			display: none;
		}
	}
}
