// ---------------------------------------
// Parameters
// ---------------------------------------
.loading {
	// can be controlled with props
	--ldr_color: $C_coolGrayMedium;
	--ldr_scrimColor: rgba(255,255,255, .87);
	--ldr_size: 120;

	// cannot be controlled by props
	--ldr_size_px: calc(1px * var(--ldr_size));
	--ldr_duration: 1s;
	--ldr_playDirection: normal;
}

// ---------------------------------------
// Basic loader styles
// ---------------------------------------
.loading {
	align-items: center;
	display: flex;
	justify-content: center;
	min-height: var(--ldr_size_px); // don't need this if we dont do a sprite anim
}

.loading--cover {
	background-color: var(--ldr_scrimColor);
	bottom: 0;
	left: 0;
	right: 0;
	top: 0;
	z-index: var(--zindex-popup);
}

.loading--partialCover {
	position: absolute;
}

.loading--fullCover {
	position: fixed;
}

// ---------------------------------------
// Loader option 1:
// Simple swarm
// ---------------------------------------
.swarm-loader {
	height: auto;
	width: var(--ldr_size_px);
	filter:url('#goo');
}

.swarm-loader circle {
	animation-direction: var(--ldr_playDirection);
	animation-duration: var(--ldr_duration);
	animation-fill-mode: forwards;
	animation-iteration-count: infinite;
	animation-timing-function: cubic-bezier(0, 0, 1, 1);
	transform-box: fill-box;
	transform-origin: center;
	transform: translate(0, 0);
	opacity: 0;
}

#circle1 {
	animation-name: circle1-animation;
	opacity: 1;
}

#circle2 {
	animation-name: circle2-animation;
}

#circle3 {
	animation-name: circle3-animation;
}

#circle4 {
	animation-name: circle4-animation;
}

#circle5 {
	animation-name: circle5-animation;
}

#circle6 {
	animation-name: circle6-animation;
}

#circle7 {
	animation-name: circle7-animation;
}

#circle8 {
	animation-name: circle8-animation;
}

.swarm-loader {
	fill: var(--ldr_color);
}

@-webkit-keyframes circle1-animation {
	0% {
		transform: scale(1);
	}

	52.6% {
		transform: scale(1.8);
	}

	100% {
		transform: scale(0);
	}
}

@-webkit-keyframes circle2-animation {
	0% {
		opacity: 1;
		transform: scale(1.3) translate(-40.1px, -5.1px);
	}

	39.5% {
		transform: scale(.5) translate(0, 0);
		opacity: 1;
	}

	39.51% {
		opacity: 0;
	}
}

@-webkit-keyframes circle3-animation {
	0% {
		transform: scale(1.3) translate(-14px, -25.5px);
	}

	2.49% {
		opacity: 0;
	}

	2.50% {
		opacity: 1;
		transform: scale(1.3) translate(-14px, -25.5px);
	}

	44.7% {
		transform: scale(.5) translate(0,0);
		opacity: 1;
	}

	44.71% {
		opacity: 0;
	}

}

@-webkit-keyframes circle4-animation {
	0% {
		transform: scale(1.3) translate(15.2px, -22.6px);
	}

	15.78% {
		opacity: 0;
	}

	15.79% {
		opacity: 1;
		transform: scale(1.3) translate(15.2px, -22.6px);
	}

	76.63% {
		transform: scale(.7) translate(0,0);
		opacity: 1;
	}

	76.64% {
		opacity: 0;
	}

}

@-webkit-keyframes circle5-animation {
	0% {
		transform: scale(1.3) translate(26.2px, 12.4px);
	}

	31.56% {
		opacity: 0;
	}

	31.57% {
		opacity: 1;
		transform: scale(1.3) translate(26.2px, 12.4px);
	}

	81.57% {
		transform: scale(.7) translate(0,0);
		opacity: 1;
	}

	81.58% {
		opacity: 0;
	}

}

@-webkit-keyframes circle6-animation {
	0% {
		transform: scale(1.3) translate(-3.3px, 33.9px);
	}

	47.35% {
		opacity: 0;
	}

	47.36% {
		opacity: 1;
		transform: scale(1.3) translate(-3.3px, 33.9px);
	}

	84.21% {
		transform: scale(.7) translate(0,0);
		opacity: 1;
	}

	84.22% {
		opacity: 0;
	}

}

@-webkit-keyframes circle7-animation {
	0% {
		transform: scale(1.3) translate(-34.3px, 9.9px);
	}

	60.51% {
		opacity: 0;
	}

	60.52% {
		opacity: 1;
		transform: scale(1.3) translate(-34.3px, 9.9px);
	}

	97% {
		transform: scale(.7) translate(0,0);
		opacity: 1;
	}

	97.01% {
		opacity: 0;
	}

}

@-webkit-keyframes circle8-animation {
	0% {
		transform: scale(1.3) translate(-34.3px, 9.9px);
	}

	81.49% {
		opacity: 0;
	}

	81.50% {
		opacity: 1;
		transform: scale(1.3) translate(-34.3px, 9.9px);
	}

	97% {
		transform: scale(.5) translate(0,0);
		opacity: 1;
	}

	97.01% {
		opacity: 0;
	}

}

// ---------------------------------------
// Loader option 2:
// Busy swarm
// ---------------------------------------
$ldr_backgroundImage: 'none';
$ldr_swarmSize: 32;

.busySwarm {
	animation: swarm-anim var(--ldr_duration) steps(56) infinite;
	background-position: 0;
	background-color: var(--ldr_color);
	margin: 0 auto;
	width: #{$ldr_swarmSize}px;
	height: #{$ldr_swarmSize}px;
	transform: scale(calc(var(--ldr_size) / #{$ldr_swarmSize}));
	@if $ldr_backgroundImage != 'none' {
		background-image: url($ldr_backgroundImage);
		background-size: cover;
	}
}

@keyframes swarm-anim {
	0% {
		mask-position: 0 0;
		-webkit-mask-position: 0 0;
	}
	100% {
		mask-position: -1792px 0;
		-webkit-mask-position: -1792px 0;
	}
}

// ---------------------------------------
// Loader option 3:
// Circular
// ---------------------------------------
.circular {
	animation: rotate 2s linear infinite;
	height: auto;
	width: var(--ldr_size_px);
}


.circular-path {
	stroke-dasharray: 1,200;
	stroke-dashoffset: 0;
	animation: dash 1.5s ease-in-out infinite, color 6s ease-in-out infinite;
	stroke-linecap: round;
	stroke: var(--ldr_color);
}

@keyframes rotate {
	100% {
		transform: rotate(360deg);
	}
}
@keyframes dash {
	0% {
		stroke-dasharray: 1,200;
		stroke-dashoffset: 0;
	}
	50% {
		stroke-dasharray: 89,200;
		stroke-dashoffset: -35;
	}
	100% {
		stroke-dasharray: 89,200;
		stroke-dashoffset: -124;
	}
}

