.lockedBadge-container {
	border-radius: 8px;
	cursor: pointer;
	padding: 0;
}

.lockedBadge-label {
	font-size: 14px;
	line-height: 1.43;
	padding-left: 6px;
}

.lockedBadge-icon-container {
	display: inline-flex;
}

.lockedBadge-badge {
	align-items: center;
	display: flex;
	padding: 6px 8px;
}
