$modal-width: 440px;

@mixin modal-dialog {
	@include transform(translate3d(0, 0, 0));
	@include transition(transform 0.2s ease);
	@include centerAbsolute($modal-width);
	border-radius: $defaultRadius;
	min-height: 0;
	width: $modal-width !important;

	&.off {
		@include transform( translateY(100vh) );
	}
}

@mixin modal-full {
	@include transform( translate3d(0, 0, 0) );
	@include transition(transform 0.3s);
	left: 0;
	margin: 0;
	min-height: 100vh;
	position: absolute;
	top: 0;
	width: 100%;

	&.off {
		@include transform( translateY(100vh) );
	}
}


.view {
	@include flexParent("column", false);
	box-sizing: border-box;
	background: white;
	width: 100%;
	min-height: 100vh;
	position: relative;
	overflow-x: hidden;
}

// MODAL VIEW SNAP
// full at narrow widths, dialog at wide widths
.view--modalSnap {
	@include modal-full();
	@include atMediaUp(medium) {
		@include modal-dialog();

		.view-head {
			background-color: $C_collectionBG;
		}
	}
	z-index: map-get($zindex-map, "modal");
}

.view--modal {
	.stripe-heroContent {
		min-height: 0;
		text-align: inherit;

		@include atMediaUp(medium) {
			min-height: 0;
		}
	}
}

.view--modalFixed {
	position: fixed;
}

.modal-closeButtonContainer {
	position: relative;
	z-index: map-get($zindex-map, "popup") + 1;
}

.modal-closeButton {
	@include color-svg($C_textSecondary);
}

.inverted .modal-closeButton {
	@include color-svg($C_textSecondaryInverted);
}

.modal-closeButton:focus,
.modal-closeButton:hover {
	@include color-svg($C_textPrimary);
}

.inverted .modal-closeButton:focus,
.inverted .modal-closeButton:hover {
	@include color-svg($C_textPrimaryInverted);
}

.modal--isLoading {
	min-height: $block-5;
}

.overlayShim {
	@include fullScreenAbsolute();
	text-align: center;
	background-color: rgba(0, 0, 0, 0.7);
	z-index: map-get($zindex-map, shade);
}

.overlayShim-content {
	position: fixed;
	bottom: 4em;
	z-index: map-get($zindex-map, shade-content);
	margin: auto;
	width: 100%;
}

.overlayShim--fixed {
	position: fixed;
}
