$modal-width: 440px;

@mixin modal-dialog {
	@include centerAbsolute($modal-width);
	border-radius: $defaultRadius;
	min-height: 0;
	transform: translate3d(0, 0, 0);
	transition: transform 200ms ease;
	width: $modal-width !important;

	&.off {
		transform: translateY(100vh);
	}
}

@mixin modal-full {
	left: 0;
	margin: 0;
	min-height: 100vh;
	position: absolute;
	top: 0;
	transform: translate3d(0, 0, 0);
	transition: transform 300ms;
	width: 100%;

	&.off {
		transform: translateY(100vh);
	}
}

.view {
	@include flexParent("column", false);
	background: white;
	box-sizing: border-box;
	min-height: 100vh;
	overflow-x: hidden;
	position: relative;
	width: 100%;
}

// MODAL VIEW SNAP
// full at narrow widths, dialog at wide widths
.view--modalSnap {
	@include modal-full();
	z-index: map-get($zindex-map, "modal");
	@include atMediaUp(medium) {
		@include modal-dialog();

		.view-head {
			background-color: $C_collectionBG;
		}
	}
}

.view--modalFull {
	@include modal-full();
	z-index: map-get($zindex-map, "modal");
}

.view--modal {
	-webkit-overflow-scrolling: touch;

	.stripe-heroContent {
		min-height: 0;
		text-align: inherit;

		@include atMediaUp(medium) {
			min-height: 0;
		}
	}
}

.view--modalFixed {
	position: fixed;
}

.modal-closeButtonContainer {
	position: relative;
	z-index: map-get($zindex-map, "popup") + 1;
}

.modal-closeButtonContainer--sticky {
	background-color: $C_contentBG;
	border-bottom: 1px solid $C_border;
	position: -webkit-sticky;
	position: sticky;
	top: 0;
}

.modal-closeButtonContainer--stickyTransparent {
	background-color: transparent;
}

.modal-closeButton {
	@include color-svg($C_textSecondary);
}

.inverted .modal-closeButton {
	@include color-svg($C_textSecondaryInverted);
}

.modal-closeButton:focus,
.modal-closeButton:hover {
	@include color-svg($C_textPrimary);
}

.inverted .modal-closeButton:focus,
.inverted .modal-closeButton:hover {
	@include color-svg($C_textPrimaryInverted);
}

.modal--isLoading {
	min-height: $block-5;
}

.overlayShim {
	@include fullScreenAbsolute();
	background-color: rgba(0, 0, 0, 0.7);
	text-align: center;
	z-index: map-get($zindex-map, shade);
}

.overlayShim-content {
	bottom: 4em;
	margin: auto;
	position: fixed;
	width: 100%;
	z-index: map-get($zindex-map, shade-content);
}

.overlayShim--fixed {
	position: fixed;
}
