@mixin _labelLarge() {
	font-size: $font-size-small;
	max-width: 20vw; // allow more space for labels @ medium and up
}

.globalNav {
	@include standardBorder("bottom");
	background-color: $C_white;
}

.navBar {
	justify-content: space-between;

	@include atMediaUp(medium) {
		justify-content: space-around;
	}
}

$zindex--aboveFloatingContent: map-get($zindex-map, "floating-content") + 1;

.aboveFloatingContent {
	position: relative;
	z-index: $zindex--aboveFloatingContent + 2;
}

.navItem {
	@include color-svg($C_textSecondary);
	color: $C_textPrimary;
	padding-left: 0;
	position: relative;
	text-align: center;
}

.circular {
	border-radius: 100%;
}

.proDashboard-noLogo {
	background-color: $C_coolGrayLight;
	height: $space-and-half;
	line-height: $space-and-half;
	width: $space-and-half;
}

// use negative margin to pull in some
// of the navbar height and center the logos
.logo {
	margin-bottom: -6px;
}

.logo--swarm {
	margin-top: -8px;
}

@include atMediaUp(medium) {
	.navItem {
		padding-left: calc(var(--responsive-space));
	}
}

.navItem--unauthenticated {
	// because login/signup links do not
	// behave like tabs at mobile sizes,
	// we have to set an explicit height
	height: $space-3;

	@include atMediaUp(medium) {
		height: auto;
	}

	.navItem-label {
		@include _labelLarge();
	}
}

%navItem--counterBadgePlaceholder {
	$_newDotSize: 14px;
	background-color: #f65858;
	border: 2px solid $C-white;
	border-radius: 10px;
	box-sizing: border-box;
	display: inline-block;
	height: $_newDotSize;
	position: absolute;
	width: $_newDotSize;
}

.navItem--counterBadge {
	@extend %navItem--counterBadgePlaceholder;
	bottom: 12px;
	right: -3px;
}

.navItem--counterBadgeProNotifications {
	@extend %navItem--counterBadgePlaceholder;
	bottom: 38px;
	right: 22px;
}

.navItem--counterBadgeProMessages {
	@extend %navItem--counterBadgePlaceholder;
	bottom: 38px;
	right: 12px;
}

$maxLabelSize: 12;
$minLabelSize: 9;
$maxScalingBP: $breakpoint-m / 1px;

.navItem-label {
	color: $C_textSecondary;
	display: block;

	// Using "CSS locks" technique to
	// let wider phones get bigger type
	// https://fvsch.com/code/css-locks/
	font-size: $minLabelSize;
	font-size: calc(
		#{$minLabelSize}px + (#{$maxLabelSize} - #{$minLabelSize}) *
			(100vw / #{$maxScalingBP})
	);

	// hack to fix vert. alignment of Login and Sign up on FF mobile
	line-height: 2;
	margin-top: $space-quarter;

	// set max width for i18n wrapping of
	// mobile nav
	// (5 items, with some room for padding)
	max-width: 19vw;

	@include atMediaUp(medium) {
		@include _labelLarge();
		display: inline-block;
		margin-top: 0;

		&:hover,
		&:active {
			color: $C_accent;
		}
	}
}

.navItem-label-pro {
	@include atMediaUp(medium) {
		font-size: 12px;
		font-weight: $W_bold;
		&:hover,
		&:active {
			color: var(--color-gray-6) !important;
		}
	}
}

.navItemLink {
	align-items: center;
	display: flex;
	flex-direction: column;
	height: 100%;
	justify-content: space-between;
	margin: 0;

	@include atMediaUp(medium) {
		display: inline;
		height: auto;
	}
}

.navItemLink-pro {
	@include atMediaUp(medium) {
		&:hover,
		&:active {
			.navItem-label-pro {
				filter: brightness(0) saturate(100%) invert(44%) sepia(60%)
					saturate(1563%) hue-rotate(153deg) brightness(85%) contrast(103%);
			}
			.proIcon {
				filter: brightness(0) saturate(100%) invert(44%) sepia(60%)
					saturate(1563%) hue-rotate(153deg) brightness(85%) contrast(103%);
			}
		}
	}
}

.proIcon {
	margin: 0 auto;
}

.navItemLink--dashboard {
	@include atMediaUp(medium) {
		@include standardBorder("right");
		padding-right: $space;

		.navItem-label {
			color: $C_accent !important;
			font-weight: $W_bold;
			margin-top: -1px;
		}
	}
}

.navItemLink--createMeetup {
	@include atMediaUp(medium) {
		@include standardBorder("right");
		padding-right: $space;

		.navItem-label {
			color: var(--color-viridian);
			font-weight: $W_bold;
			margin-top: -2px;
		}
	}
}
.navItemLink--createMeetupPro {
	@include atMediaUp(medium) {
		align-items: center;
		display: flex;
		height: 40px;
	}
}
.pill {
	background: var(--color-viridian);
	border-radius: 8px;
	color: $C_white;
	float: right;
	font-size: 11px;
	margin-left: 8px;
	margin-top: 2px;
	padding: 3px 4px 1px;
	width: auto;
}
.counterBadge {
	$_dotSize: $space-half;
	background-color: $C_teal;
	border: 3px solid $C_white;
	border-radius: 999px;
	height: $_dotSize;
	position: absolute;
	right: 27%;
	top: -$_dotSize / 2;
	width: $_dotSize;

	@include atMediaUp(medium) {
		border-width: 0;
		display: inline-block;
		margin-left: $space-quarter;
		position: static;
		transform: translate(-2px, -6px);
	}

	.navItem--messages & {
		right: 17%;
	}
}

.notifications--empty {
	@include color-svg($C_textTertiary);
	background: $C_collectionBG;
	border-radius: $defaultRadius * 2;
	color: $C_textSecondary;
	padding: $space 0;
}

.notifications--populated {
	max-height: 75vh;
	overflow: scroll;
}

.notification {
	@extend %buttonPersonality;
	display: block;
	padding: $space-half $space !important; /* override default `list` padding */

	&:hover,
	&:focus {
		background: $C_highlight;
		color: $C_textSecondary;
	}
}

.notification-image {
	height: $media-l;
	width: $media-l;
}

.notification-time {
	margin-left: $space / 2;
}

.notification--read {
	@extend %text--secondary;
	background: $C_collectionBG !important;
}

.profileDropdown-content {
	&.wide {
		width: 512px;
	}
	&.new-padding {
		padding: 12px 16px;
	}

	.list-item {
		padding-bottom: $space-half !important;
		padding-top: $space-half !important;
	}
	.profileDropdown-draft-group {
		padding-top: 0 !important;
	}

	.links-divider {
		border-top: thin;
		margin-bottom: 12px;
		margin-top: 12px;
	}

	.links-item {
		box-sizing: border-box;
		color: inherit;
		display: inline-block;
		font-size: 14px;
		font-weight: 400;
		line-height: 1.43;
		margin: 0;
		min-width: 0;
		padding-bottom: 4px;
		padding-top: 4px;
		text-decoration: none;

		&:hover {
			color: #008294;
		}
	}
}

.profileDropdown-draft-group {
	div {
		color: $C_foursquare;
		font-size: $font-size-small;
	}
	a {
		cursor: pointer;
		padding-right: 5px;
		text-decoration: underline;
	}
	span {
		padding-right: 7px;
	}
	strong {
		font-weight: 600;
	}
	svg {
		height: 10px;
		margin-left: 3px;
		stroke: $C_foursquare;
		stroke-width: 0.3px;
		width: 10px;
	}
}

.navbar-search {
	max-width: 434px;
	position: relative;

	.navbar-search-input {
		max-width: 395px;
	}

	.navbar-search-btn {
		align-items: center;
		background: #f65858;
		border-bottom-right-radius: 4px;
		border-top-right-radius: 4px;
		cursor: pointer;
		display: flex;
		height: 100%;
		justify-content: center;
		position: absolute;
		right: 0;
		top: 0;
		width: 42px;
	}
}
