@mixin _labelLarge() {
	font-size: $font-size-small;
	max-width: 20vw; // allow more space for labels @ medium and up
}

#globalNav {
	@include standardBorder('bottom');
	background-color: $C_white;
}

.padding--left-half {
	padding-left: $space-half;
}

.navBar {
	justify-content: space-between;

	@include atMediaUp(medium) {
		justify-content: space-around;
	}
}

$zindex--aboveFloatingContent: map-get($zindex-map, 'floating-content') + 1;
.aboveFloatingContent {
	position: relative;
	z-index: $zindex--aboveFloatingContent + 2;
}

.navItem {
	@include color-svg($C_textSecondary);
	color: $C_textPrimary;
	text-align: center;
	position: relative;
	padding-left: 0;
}

.circular {
	border-radius: 100%;
}

.proDashboard-noLogo {
	background-color: $C_coolGrayLight;
	height: $space-and-half;
	width: $space-and-half;
	line-height: $space-and-half;
}

// use negative margin to pull in some
// of the navbar height and center the logos
.logo {
	margin-bottom: -6px;
}
.logo--swarm {
	margin-top: -8px;
}

@include atMediaUp(medium) {
	.navItem {
		@include customPropertyValue(padding-left, calc(var(--responsiveSpace)), $space);
	}
}

.navItem--unauthenticated {
	// because login/signup links do not
	// behave like tabs at mobile sizes,
	// we have to set an explicit height
	height: $space-3;
	@include atMediaUp(medium) {
		height: auto;
	}

	.navItem-label {
		@include _labelLarge();
	}
}

$maxLabelSize: 12;
$minLabelSize: 9;
$maxScalingBP: $breakpoint-m/1px;
.navItem-label {
	display: block;
	color: $C_textSecondary;

	// Using "CSS locks" technique to
	// let wider phones get bigger type
	// https://fvsch.com/code/css-locks/
	font-size: $minLabelSize;
	font-size: calc(
		#{$minLabelSize}px + (#{$maxLabelSize} - #{$minLabelSize}) *
			(100vw / #{$maxScalingBP})
	);

	// hack to fix vert. alignment of Login and Sign up on FF mobile
	line-height: 2;
	margin-top: $space-quarter;

	// set max width for i18n wrapping of
	// mobile nav
	// (5 items, with some room for padding)
	max-width: 19vw;

	@include atMediaUp(medium) {
		margin-top: 0;
		display: inline-block;
		@include _labelLarge();

		&:hover,
		&:active {
			color: $C_accent;
		}
	}
}

.navItemLink {
	align-items: center;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	margin: 0;
	height: 100%;

	@include atMediaUp(medium) {
		display: inline;
		height: auto;
	}
}
.navItemLink--dashboard {
	@include atMediaUp(medium) {
		@include standardBorder('right');
		padding-right: $space;
		.navItem-label {
			color: $C_accent !important;
			font-weight: $W_bold;
		}
	}
}
.navItemLink--createMeetup {
	@include atMediaUp(medium) {
		@include standardBorder('right');
		padding-right: $space;
		.navItem-label {
			color: $C_accent !important;
			font-weight: $W_bold;
		}
	}
}

.counterBadge {
	$_dotSize: $space-half;
	background-color: $C_teal;
	border-radius: 999px;
	width: $_dotSize;
	height: $_dotSize;
	position: absolute;
	top: -$_dotSize/2;
	right: 27%;
	border: 3px solid $C_white;

	.navItem--messages & {
		right: 17%;
	}

	@include atMediaUp(medium) {
		@include transform(translate(-2px, -6px));
		display: inline-block;
		margin-left: $space-quarter;
		position: static;
		border-width: 0;
	}
}

.notifications--empty {
	@include color-svg($C_textTertiary);
	color: $C_textSecondary;
	background: $C_collectionBG;
	border-radius: $defaultRadius * 2;
	padding: $space 0;
}

.notifications--populated {
	max-height: 75vh;
	overflow: scroll;
}

.notification {
	@extend %buttonPersonality;
	display: block;
	padding: $space-half $space !important; /* override default `list` padding */

	&:hover,
	&:focus {
		color: $C_textSecondary;
		background: $C_highlight;
	}
}

.notification-image {
	width: $media-l;
	height: $media-l;
}

.notification-time {
	margin-left: $space / 2;
}

.notification--read {
	@extend %text--secondary;
	background: $C_collectionBG !important;
}

.profileDropdown-content {
	.list-item {
		padding-top: $space-half !important;
		padding-bottom: $space-half !important;
	}
}
