.pageActionButton {
	border: none;
	border-radius: 0;
	width: 100%;
}

@include responsiveVarContext--base() {
	.pageActionButton {
		min-height: $base*$line-height-largeText*2; // text--display height * line-height
		justify-content: center;
	}
}
