/* stylelint-disable */
// disabling stylelint because this file is going away,
// per https://meetup.atlassian.net/browse/WC-235
//
// Popover
//
$popoverShadow: $interactiveShadow;
$view-minWidth: 320px;

.popover {
	position: relative;
}

.clickable {
	cursor: pointer;
}

.popover-trigger {
	cursor: pointer;

	&--active {
		background: $C_selection;
		box-shadow: 0 0 0 8px $C_selection;

		&:focus {
			outline: 0;
		}
	}
}

.popover-container {
	background-color: $C_contentBG;
	border-radius: $defaultRadius;
	box-shadow: $popoverShadow;
	box-sizing: border-box;
	max-height: $block-6;
	max-width: $view-minWidth;
	position: absolute;
	text-align: left !important;
	z-index: 1;
}

.popover-container--menu {
	min-width: $block-4;
}

.popover-menu-option {
	border-top: 1px solid $C_border;
	cursor: pointer;

	&:first-child {
		border-top: none;
	}

	.popover-menu-option-target {
		color: $C_textPrimary;
		display: block;
		padding: $space-half $space;

		&:focus {
			background: $C_selection;
			outline: 0;
		}
	}
}

.popover-container--menu:hover {
	.popover-menu-option {
		& > a,
		& > span,
		& > div,
		& > button {
			&:focus {
				background: transparent;
			}

			&:hover {
				background: $C_selection;
			}
		}
	}
}

.popover-container--horizontal-left {
	right: 0;
}

.popover-container--horizontal-right {
	left: 0;
}
/* stylelint-enable */
