/*doc
---
title: Section
---
Used to group sets of related components
into discrete sections by adding padding
around it's children.
*/

$sectionSpaceMultiple: 2;

.section {
	@include customPropertyValue(
		padding,
		calc(var(--responsiveSpace) * #{$sectionSpaceMultiple}) 0 0 0,
		$space * $sectionSpaceMultiple 0 0 0
	);
	@include customPropertyValue(
		margin,
		0 var(--responsiveSpace),
		0 $space
	);
}

@include _bpModifier(section, hasSeparator) {
	border-bottom-width: 0;
	padding-bottom: 0;
}

.section--hasSeparator {
	@include customPropertyValue(
		padding,
		calc(var(--responsiveSpace) * #{$sectionSpaceMultiple}) 0 calc(var(--responsiveSpace) * #{$sectionSpaceMultiple} - var(--responsiveSpace)) 0,
		$space * $sectionSpaceMultiple 0 $space * $sectionSpaceMultiple - $space 0
	);
	border-bottom: 1px solid $C_border;

	.inverted & {
		border-bottom: 1px solid $C_borderInverted;
	}
}

.section--flush {
	margin: 0;
}

@include _bpModifier(section, flush) {
	@include customPropertyValue(margin, 0 var(--responsiveSpace), 0 $space);
}
