/*doc
---
title: Section
---
Used to group sets of related components
into discrete sections by adding padding
around it's children.
*/

$sectionSpaceMultiple: 2;
.section {
	padding: calc(var(--responsiveSpace) * #{$sectionSpaceMultiple}) 0 0 0;
	margin: 0 var(--responsive-space);
}

.section--hasSeparator {
	padding: calc(var(--responsive-space) * #{$sectionSpaceMultiple}) 0 calc(var(--responsive-space) * #{$sectionSpaceMultiple} - var(--responsive-space)) 0;
}

@include _bpModifier(section, hasSeparator) {
	border-bottom-width: 0;
	padding-bottom: 0;
}

.section--hasSeparator {
	border-bottom: 1px solid $C_border;

	.inverted & {
		border-bottom: 1px solid $C_borderInverted;
	}
}

.section--flush {
	margin: 0;
}

@include _bpModifier(section, flush) {
	margin: 0 var(--responsive-space);
}
