/*doc
---
title: Stripe
---
A `.stripe` class is rendered by the `<Stripe>` component to
visually divide the page with borders or stripes of color.

To align content within a stripe, nest children in a
`<Bounds>` component.

#### Stripe variants
A class of `.stripe` is default; the following classes are
optional variants:

Class                | Description
-------------------- | ------------------------------------------------------------
`.stripe--inverted`  |  rendered by the `inverted` prop, applies the standard `$C_contentBGInverted` background color
`.stripe--collection`|  rendered by the `collection` prop, applies a light gray background; for use with card collections
`.stripe--red`       |  applies the standard `$C_red` background color
`.stripe--purple`    |  applies the standard `$C_purple` background color
`.stripe--plum`      |  applies the standard `$C_plum` background color
`.stripe--black`     |  applies the standard `$C_black` background color
`.stripe--photoHero` |  rendered by the `backgroundImage` prop, for hero sections with a photo (see below)
*/

%stripe,
.stripe {
	@include standardBorder();
	background-color: $C_contentBG;
	margin-bottom: 0;

	&:first-child {
		border-top: none;
	}
}

.stripe--collection {
	@extend %stripe;
	background-color: $C_collectionBG;
}

.stripe--inverted {
	@extend %stripe;
	background-color: $C_contentBGInverted;
	border-top: 1px solid $C_borderInverted;
}

// color variants

@each $colorName, $color in (
	"red": $C_red,
	"purple": $C_purple,
	"black": $C_black,
	"plum": $C_plum
) {
	.stripe--#{$colorName} {
		background-color: $color;
	}
}

/// PRIVATE
/// legacy text protection mixin from SQ2

@mixin textProtectionScrim($placement: "bottom") {
	&::before {
		content: "";
		display: block;
		height: 100%;
		left: 0;
		mix-blend-mode: hard-light;
		position: absolute;
		width: 100%;
		z-index: 0;

		@if $placement == "bottom" {
			@include linear-gradient(180deg, transparentize($C_black, 0.85) 25%, transparentize($C_black, 0.6) 100%);
			bottom: 0;
		} @else {
			@include linear-gradient(0deg, transparentize($C_black, 0.85) 25%, transparentize($C_black, 0.6) 100%);
			top: 0;
		}
	}
}

.stripe--withBGImg {
	@include textProtectionScrim();
	background-color: $C_contentBGInverted;
	background-position: center 20%;
	background-repeat: no-repeat;
	background-size: cover;
	border-top: none;
	overflow: hidden;
	position: relative;
}

.stripe--noScrim {
	&::before {
		display: none;
	}
}

.stripe-aboveScrim {
	position: relative;
}
