$tabBorderWidth: 3px;

.tabs {
	box-shadow: inset 0 -1px $C_border;
	display: block;
	list-style: none;
	margin: 0;
	padding: 0;
}

.tabs--full {
	display: table;
	table-layout: fixed;
	width: 100%;

	.tabs-tab {
		display: table-cell;
		margin: 0;
		text-align: center;
	}
}

.tabs--isVertical {
	box-shadow: inset -1px 0 $C_border;
}

.tabs--noBorder {
	box-shadow: none;
}

.tabs-tab {
	@include customPropertyValue(padding, calc(var(--responsiveSpace) / 2) 0, $space-half 0);
	color: $C_textPrimary;
	cursor: pointer;
	display: inline-block;
	margin: 0 0 0 $space;
	padding-left: $space / 4;
	padding-right: $space / 4;
	text-align: center;

	&:first-child {
		margin-left: 0;
	}

	.inverted & {
		border-bottom-color: $C_textPrimaryInverted;
		color: $C_textPrimaryInverted;

		&:hover {
			color: $C_textSecondaryInverted;
		}
	}

	.tabs--isVertical & {
		@include customPropertyValue(padding, 0 calc(var(--responsiveSpace) / 2) 0 0, 0 $space-half 0 0);
		border-right: $tabBorderWidth solid transparent;
		display: block;
		margin-bottom: $space;
		margin-left: 0;
		text-align: left;
	}
}

.tabs-tab--selected {
	border-bottom: $tabBorderWidth solid $C_accent;
	box-shadow: none;
	color: $C_accent;
	font-weight: $W_medium;

	.tabs--isVertical & {
		border-bottom: 0;
		border-right: $tabBorderWidth solid;
	}
}
