/*doc
---
title: Tabs
name: tabs
category: UI Components
---

```html_example
<nav>
	<ul class="tabs">
		<li class="tabs-tab"><a href="#">Tab One</a>
		<li class="tabs-tab tabs-tab--selected"><a href="#">Tab Two</a>
		<li class="tabs-tab"><a href="#">Tab Three</a>
	</ul>
</nav>
```

### Tabs (parent) variants
A class of `tabs` is __required__. The following classes are
optional variants:

Class                 | Description
--------------------- | -----------------------------
`tabs--full`          | Makes tabs span the full width of their parent element


### Tab (child) variants
A class of `tabs-tab` is __required__ for tabs. The following classes
are optional variants:

Class                 | Description
--------------------- | -----------------------------
`tabs-tab--selected`  | Applies styles for tab selected state
*/

$tabBorderWidth: 3px;

.tabs {
	box-shadow: inset 0 -1px $C_border;
	display: block;
	list-style: none;
	margin: 0;
	padding: 0;
}
.tabs--full {
	display: table;
	table-layout: fixed;
	width: 100%;

	.tabs-tab {
		display: table-cell;
		margin: 0;
		text-align: center;
	}
}

.tabs--isVertical {
	box-shadow: inset -1px 0 $C_border;
}

.tabs--noBorder {
	box-shadow: none;
}

.tabs-tab {
	padding: calc(var(--responsive-space) / 2) 0;
	color: $C_textPrimary;
	cursor: pointer;
	display: inline-block;
	margin: 0 0 0 $space;
	padding-left: $space/4;
	padding-right: $space/4;
	text-align: center;

	&:first-child {
		margin-left: 0;
	}

	.inverted & {
		color: $C_textSecondaryInverted;
		&:hover {
			color: $C_textSecondaryInverted;
		}
		&.tabs-tab--selected {
			color: $C_textPrimaryInverted;
			border-top-color: $C_textPrimaryInverted;
		}
	}

	.tabs--isVertical & {
		padding: 0 calc(var(--responsive-space) / 2) 0 0;
		border-right: $tabBorderWidth solid transparent;
		display: block;
		margin-bottom: $space;
		margin-left: 0;
		text-align: left;
	}

}
.tabs-tab--selected {
	box-shadow: none;
	border-bottom: $tabBorderWidth solid $C_accent;
	color: $C_accent;
	font-weight: $W_medium;

	.tabs--isVertical & {
		border-bottom: 0;
		border-right: $tabBorderWidth solid;
	}
}
