/*doc
---
title: Tabs
name: tabs
category: UI Components
---

```html_example
<nav>
	<ul class="tabs">
		<li class="tabs-tab"><a href="#">Tab One</a>
		<li class="tabs-tab tabs-tab--selected"><a href="#">Tab Two</a>
		<li class="tabs-tab"><a href="#">Tab Three</a>
	</ul>
</nav>
```

### Tabs (parent) variants
A class of `tabs` is __required__. The following classes are
optional variants:

Class                 | Description
--------------------- | -----------------------------
`tabs--full`          | Makes tabs span the full width of their parent element


### Tab (child) variants
A class of `tabs-tab` is __required__ for tabs. The following classes
are optional variants:

Class                 | Description
--------------------- | -----------------------------
`tabs-tab--selected`  | Applies styles for tab selected state
*/

.tabs {
	box-shadow: 0 1px $C_border;
	display: block;
	list-style: none;
	margin: 0;
	padding: 0;
}
.tabs--full {
	display: table;
	table-layout: fixed;
	width: 100%;

	.tabs-tab {
		display: table-cell;
		margin: 0;
		text-align: center;
	}
}

.tabs--noBorder {
	box-shadow: none;
}

.tabs-tab {
	color: $C_textPrimary;
	cursor: pointer;
	display: inline-block;
	margin: 0 0 0 $space;
	padding-left: $space/4;
	padding-right: $space/4;
	@include responsiveVarContext--base {
		padding: $base/2 0;
	}
	&:first-child {
		margin-left: 0;
	}

	.inverted & {
		color: $C_textSecondaryInverted;
		&:hover {
			color: $C_textSecondaryInverted;
		}
		&.tabs-tab--selected {
			color: $C_textPrimaryInverted;
			border-top-color: $C_textPrimaryInverted;
		}
	}
}
.tabs-tab--selected {
	box-shadow: none;
	border-bottom: 3px solid $C_red;
	color: $C_textPrimary;
	font-weight: $W_medium;
}
