.toaster {
	box-sizing: border-box;
	position: absolute;
	top: 0;
	width: 100%;
}

.toast {
	background-color: $C_blue;
	box-sizing: border-box;
	display: block;
	margin-bottom: $space-half;
	padding: $space-3 $space;

	@include atMediaUp(large) {
		padding: $space-3;
	}
}

.toast--error {
	background-color: $C_orange;
}

.toast--success {
	background-color: $C_teal;
}

.toast-action {
	text-decoration: underline;
}

.toast-dismissBtn {
	cursor: pointer;
}

//
// Toast transitions
//
.slide-appear,
.slide-enter {
	opacity: 0.01;
	transform: translateY(-100px);
}

.slide-appear.slide-appear-active,
.slide-enter.slide-enter-active {
	opacity: 1;
	transform: translateY(0);
	transition: opacity $duration--medium $easing--enter, transform $duration--medium $easing--enter;
}

.slide-exit {
	opacity: 1;
	transform: translateY(0);
}

.slide-exit.slide-exit-active {
	opacity: 0.01;
	transform: translateY(-100px);
	transition: opacity $duration--medium $easing--exit, transform $duration--medium $easing--exit;
}
