.toggleButton-icon {
	margin-left: $space-half; // relative sizing because icon could be 's' or 'xs'
}

.toggleButton-label {
	@include pillBase();
	@include shadowOnHover();
	margin: $space-quarter 0;
	-webkit-tap-highlight-color: rgba(0,0,0,0);
}

.toggleButton-label--large {
	font-size: $font-size;
	padding: $space*1.5 $space;
}

.toggleButton-input {
	&:checked + .toggleButton-label {
		@include buttonColor(
			$bgColor: $C_blue,
			$textTransition: false
		);
		@include standardBorder(none);
	}
}
