/*doc
---
title: Toggle
name: toggle
category: UI Components
---
Checkbox form elements that can be styled.
```
*/

.toggle {
	display: inline-block;
	margin: $space-quarter 0;
	-webkit-tap-highlight-color: rgba(0,0,0,0);
}

.withToggleInput-label {
	font-weight: $W_normal;
}

// .toggleButton-label {
// 	@include pillBase();
// }


// .toggle-input {
// 	display: none;
// }
