.tooltip-bubble {
	background-color: $C_darkGray;

	&::after {
		border-bottom-color: $C_darkGray;
		border-top-color: $C_darkGray;
	}
}

.tooltip-closeBtn {
	float: right;
	padding: 5px !important;

	.svg-icon {
		height: 24px;
		width: 24px;
	}
}
