.tooltip-content {
	margin-top: 0;
	padding-top: $triangleSize;
}

.tooltip-bubble {
	background-color: $C_darkGray;

	&:after {
		border-bottom-color: $C_darkGray;
		border-top-color: $C_darkGray;
	}
}
