.dropdown-content--tooltip {
	margin-top: 0;
	padding-top: $triangleSize;
}

.dropdown-bubble--tooltip {
	background-color: $C_darkGray;

	&:before {
		top: 0;
	}

	&:after {
		border-bottom-color: $C_darkGray;
		top: 1px;
	}
}
