.typeahead {
	position: relative;

	.typeahead-input {
		margin-bottom: 0;
	}
}

.typeahead-dropdown {
	background-color: $C_contentBG;
	border: 1px solid $C_textPrimary; // match `input` focus border color
	border-radius: 0 0 $largeRadius $largeRadius;
	left: 0;
	margin-top: -#{$defaultRadius};
	position: absolute;
	right: 0;
	z-index: map-get($zindex-map, "floating-content")
}

.typeahead-dropdown--inline {
	position: relative;
}

.typeahead-item {
	cursor: pointer;
	padding: $space-half $space;

	input[type="checkbox"],
	input[type="radio"],
	label {
		pointer-events: none;
	}
}

.typeahead-item--isActive {
	background-color: $C_coolGrayLightTransp;
}
