.typeahead {
	position: relative;
}

.typeahead-input {
	margin-bottom: 0;
}

.typeahead-dropdown {
	background-color: $C_contentBG;
	border: 1px solid $C_textPrimary; // match `input` focus border color
	border-radius: 0 0 $largeRadius $largeRadius;
	left: 0;
	// $defaultRadius/2 : equal to the whitespace left around a $defaultRadius rounded corner
	// $space-quarter   : equal to the bottom margin on an input
	// .5px             : nudge up a little to hide a remaining subpixel of whitespace
	margin-top: -#{$defaultRadius / 2 + $space-quarter + 0.5px};
	position: absolute;
	right: 0;
	z-index: map-get($zindex-map, "floating-content");
}

.typeahead-dropdown--inline {
	position: relative;
}

.typeahead-item {
	cursor: pointer;
	padding: $space-half $space;

	[type="checkbox"],
	[type="radio"],
	label {
		pointer-events: none;
	}
}

.typeahead-item--isActive {
	background-color: $C_coolGrayLightTransp;
}
